.header {
    text-align: center;
    font-size: 110px;
    color: teal;
}


img {
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#homepage_form_center {
    margin-left: 20px;
}


.collapsible {
    width: 400px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.ss {
    border: 1px solid grey;
    height: 80px;
    width: 160px;
}

.ssi {
    border: 1px solid grey;
    height: 120px;
    width: 160px;
}

.m_size {
    font-size: 30px;
}

.mail {
    width: 400px;
    height: 250px;
    background: #ff8789;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}

.mail:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid #ff393c;
    border-top: 150px solid transparent;
    border-bottom: 150px solid #ff393c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
}

.mail:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 200px solid #ff5355;
    border-right: 200px solid transparent;
    border-top: 150px solid transparent;
    border-bottom: 150px solid #ff5355;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}

.cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 150px solid #ff8789;
    border-bottom: 150px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
}

.letter {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: teal;
    width: 380px;
    height: 250px;
    border-radius: 20px;
    transition: all 1s ease;
}

/* .letter h6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: teal;
    font-weight: 900;
} */

.mail:hover .cover:before {
    transform: rotateX(180deg);
    transition: all 1s ease;
}

.mail:hover .letter {
    top: -150px;
    transition: all 1s 1s ease;
}

.envelope_wrapper {
    display: flex;
    justify-content: space-around;
}

.writing {
    padding-left: 100px;
    color: pink;
}

#text {
    display: flex;
    justify-content: column;
}

#reply {
    display: flex;
    justify-content: column;
}

.modal { 
    width: 20% !important ; 
    height: 75% !important ; 
}
