{% load static %}

<!-- Navbar -->
<div class="navbar-fixed">
  <nav class="teal">
    <div>
      <div class="nav-wrapper">
          <a href="#" class="brand-logo center"><img style="height: 64px; width: 220px;" src="{% static 'logo2.png' %}" alt="logo"></a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
              <li><a href="{% url 'welcome' %}">WELCOME</a></li>
              <li><a href="{% url 'how_it_works' %}">HOW IT WORKS</a></li>
              <li><a href="{% url 'reactcard' %}">REACTCARD</a></li>
              <li><a href="#GALLERY">GALLERY</a></li>
              <li><a href="#CONTACT">CONTACT</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
              <li><a class="waves-effect waves-light btn-large pink" href="{% url 'signup' %}">SIGNUP</a></li>
              <li><a class="waves-effect waves-light btn-large pink" href="{% url 'login' %}">LOGIN</a></li>
          </ul>
      </div>
    </div>  
  </nav>
</div>
<ul class="sidenav" id="mobile-nav">
  <li><a href="WELCOME">WELCOME</a></li>
  <li><a href="ABOUT">ABOUT</a></li>
  <li><a href="REACTCARD">REACTCARD</a></li>
  <li><a href="CONTACT">CONTACT</a></li>
  <li><a class="waves-effect waves-light btn-large pink" href="{% url 'signup' %}">SIGNUP</a></li>
  <li><a class="waves-effect waves-light btn-large pink" href="{% url 'login' %}">LOGIN</a></li>
</ul>
