<p>
    The Reactwise Budget is truly revolutionary ! It of course deals with all the necessary aspects of
a budget but incorporates two extraordinary features.
1. Reacting to real life situations that an ordinary budget can not predict - How does one
deal with financial surprises ? Will it throw the budget into a downward tailspin ? How
can one recover ?
2. Numbers and spreadsheets can be very intimidating , Reactwise is an interactive
application that allows the user to problem-solve by asking questions and receive
answers
One of the best and most used budget applications out on the market to date is “Mint” It's good,
but if spreadsheets scare you it will be difficult to use properly. Mint will also provide the user
with a wealth of information but is unable to problem solve with an interactive system as
Reactwise can.
Reactwise focuses on “Cashflow “ therefore the core of the program is based on available
funds/income and not “finding the best deal.” Shopping around for the most inexpensive
product is great but it will not create financial well-being ! The app user will be able to
determine within seconds if a purchase is affordable , where the funds will come from, and how
to finance it, if deemed necessary.
Reactwise also believes in balance. There is a time and place for credit cards and a time and
place for cash. all expenses are compiled into three unique categories, based on frequency.
Category I - daily living expenses are the most frequent expenses, this includes grocery
shopping, gas and pharmaceuticals, the goal is to use cash ( or the Reactwise card ) to make
these purchases.
Category II - Monthly recurring expenses such as mortgage or rent, phone bill, cell phone bill,
utilities and tuition - to be paid with direct bank transfer, credit cards or check.
Category III - The least frequent expenses, these expenses include vacations, summer camps,
holidays, car repairs, clothing and shoes and gifts. The goal is to transform these variable
expenses into monthly fixed expenses, so if the annual vacation costs $3,000.00 there will now
be a $250.00 monthly fixed category three expense.

The objective of the category plan is twofold, first, for every month to mirror the next month and
second, to precisely predict the monthly expenses on the first day of each month.
</p>