{% extends 'budget_base.html' %}
{% load static %}

{% block content %}


<form method="POST">
    <div class="container center">
        <div class="row center">
            <div class="col s12">
                <div class="card-panel pink darken-9">
                    <h5 class='teal-text'>ADDITIONAL EXPENSES</h5>
                    <table>
                        <tbody>
                            <tr>
                                <div class="input-field">
                                    <label for="id_name">Name of expense:</label>
                                    <input type="text" name="name" maxlength="100" required="" id="id_name">
                                </div>
                            </tr>
                            <tr>
                                <div class="input-field">
                                    <label for="id_amount">Amount:</label>
                                    <input type="number" name="amount" value="0" required="" id="id_amount">
                                </div>
                            </tr>
                            <tr>
                                <div class="input-field">
                                    <div>
                                        <label for="id_category">Category:</label>
                                    </div>
                                    <div>
                                        <label>
                                            <input class="with-gap" name="category" type="radio" value="daily"/>
                                            <span>DAILY</span>
                                        </label>
                                        <label>
                                            <input class="with-gap" name="category" type="radio" value="monthly"/>
                                            <span>MONTHLY</span>
                                        </label>
                                        <label>
                                            <input class="with-gap" name="category" type="radio" value="annual"/>
                                            <span>ANNUAL</span>
                                        </label>
                                    </div>
                                </div>
                            </tr>
                            <tr>
                                <div class="input-field">
                                    <label for="id_date">Date:</label>
                                    <input type="text" name="date" value="2020-08-27" required="" id="id_date">
                                    <input type="hidden" name="initial-date" value="2020-08-27" id="initial-id_date">
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
    </div>
    {% csrf_token %}
    <div class="center">
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
     </div>
</form>
<div class="back_btn center" style="margin-top: 50px;">
    <a class="waves-effect waves-light btn-large" href="{% url 'homepage' %}">WHEN YOUR FINISHED CLICK HERE</a>
</div>

{% endblock content %}