{% load static %}
 

<div class="row">
    <div class="col s12 m3">
        <ul class="collapsible popout center">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons teal-text">house</i><span class="teal-text">PROPERTY TAX</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.property_tax}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-faucet teal-text"></i><span class="teal-text">WATER</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.water}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-gas-pump teal-text"></i><span class="teal-text">GAS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.gas}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-plug teal-text"></i><span class="teal-text"><span class="teal-text">ELECTRIC</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.electric}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-glass-cheers teal-text"></i><span class="teal-text">HOLIDAYS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.holidays}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-tooth teal-text"></i><span class="teal-text">DENTAL</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.dental}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="far fa-eye teal-text"></i><span class="teal-text">EYECARE</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.eyecare}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pills teal-text"></i><span class="teal-text">ALTERNATIVE MEDICINE</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.alternative_medicine}}</span></div>
            </li>
        </ul>
    </div>
    <div class="col s12 m3">
        <ul class="collapsible popout center">
            <li>
                <div class="collapsible-header"><i class="fas fa-gifts teal-text"></i><span class="teal-text">KIDS GIFTS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.kids_gifts}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-hand-holding-heart teal-text"></i><span class="teal-text">COUPLES GIFTS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.couples_gifts}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-gift teal-text"></i><span class="teal-text">GENERAL GIFTS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.general_gifts}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-pencil-ruler teal-text"></i><span class="teal-text">SCHOOL SUPPLIES</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.school_supplies}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-money-bill-alt teal-text"></i><span class="teal-text">MEMBERSHIP FEES</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.membership_fees}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-suitcase-rolling teal-text"></i><span class="teal-text">DAY TRIPS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.day_trips}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-plane teal-text"></i><span class="teal-text">COUPLES VACATION</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.couples_vacation}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-campground teal-text"></i><span class="teal-text">FAMILY VACATION</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.family_vacation}}</span></div>
            </li>
        </ul>
    </div>
    <div class="col s12 m3">
        <ul class="collapsible popout center">
            <li>
                <div class="collapsible-header"><i class="fas fa-car teal-text"></i><span class="teal-text">CAR REGISTRATION</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.car_registration}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-cogs teal-text"></i><span class="teal-text">CAR TEST</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.car_test}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-tools teal-text"></i><span class="teal-text">CAR REPAIRS</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.car_repairs}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-snowboarding teal-text"></i><span class="teal-text">EXTRACURRICULAR ACTIVITY</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.extracurricular_activity}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-water teal-text"></i><span class="teal-text">WATER FILTER</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.water_filter}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-money-check-alt teal-text"></i><span class="teal-text">EXTRA INCOME</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.extra_income}}</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="fas fa-school teal-text"></i><span class="teal-text">OTHER SCHOOL FEES</span></div>
                <div class="collapsible-body"><span class="pink-text">{{annual.other_school_fees}}</span></div>
            </li>
        </ul>
    </div>
    <div class="col s12 m3">
        <ul class="collapsible popout center">
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' %}
                    <li>
                        <div class="collapsible-header"><span class="teal-text">{{aa.name|upper}}</span></div>
                        <div class="collapsible-body"><span class="pink-text">{{aa.amount}}</span></div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>