{% load static %}

<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
            <ul class="collapsible popout">
                {% for expense in annual%}
                <li>
                    <div class="collapsible-header"><span class="teal-text center">{{expense.name|upper}}</span></div>
                    <div class="collapsible-body"><span class="pink-text">{{expense.amount}}</span></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>