{% extends 'budget_base.html' %}
{% load static %}

{% block content %}

<div class="wrapper" style="display: flex;">
    <div>
        <div class="center ss"><h6></h6></div>
        <div class="grey white-text center ss"><h6>PROPERTY TAX</h6></div>
        <div class="grey white-text center ss"><h6>WATER</h6></div>
        <div class="grey white-text center ss"><h6>GAS</h6></div>
        <div class="grey white-text center ss"><h6>ELECTRIC</h6></div>
        <div class="grey white-text center ss"><h6>HOLIDAYS</h6></div>
        <div class="grey white-text center ss"><h6>DENTAL</h6></div>
        <div class="grey white-text center ss"><h6>EYECARE</h6></div>
        <div class="grey white-text center ss"><h6>ALTERNATIVE MEDICINE</h6></div>
        <div class="grey white-text center ss"><h6>KIDS GIFTS</h6></div>
        <div class="grey white-text center ss"><h6>COUPLES GIFTS</h6></div>
        <div class="grey white-text center ss"><h6>GENERAL GIFTS</h6></div>
        <div class="grey white-text center ss"><h6>SCHOOL SUPPLIES</h6></div>
        <div class="grey white-text center ss"><h6>MEMBERSHIP FEES</h6></div>
        <div class="grey white-text center ss"><h6>DAY TRIPS</h6></div>
        <div class="grey white-text center ss"><h6>COUPLES VACATION</h6></div>
        <div class="grey white-text center ss"><h6>FAMILY VACATION</h6></div>
        <div class="grey white-text center ss"><h6>CAR REGISTRATION</h6></div>
        <div class="grey white-text center ss"><h6>CAR TEST</h6></div>
        <div class="grey white-text center ss"><h6>CAR REPAIRS</h6></div>
        <div class="grey white-text center ss"><h6>EXTRA CURRICULAR ACTIVITY</h6></div>
        <div class="grey white-text center ss"><h6>WATER FILTER</h6></div>
        <div class="grey white-text center ss"><h6>EXTRA INCOME</h6></div>
        <div class="grey white-text center ss"><h6>OTHER SCHOOL FEES</h6></div>
        {% for aa in additional_annual %}
            {% if aa.category == 'annual' %}
                <div class="grey white-text center ss"><h5>{{aa.name|upper}}</h5></div>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for month in ass %}
        {% if month.date.month == 01 %}
            <div class="teal pink-text center ss"><h5>JANUARY</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 01 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 02 %}
            <div class="teal pink-text center ss"><h5>FEBUARY</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 02 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 03 %}
            <div class="teal pink-text center ss"><h5>MARCH</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 03 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 04 %}
            <div class="teal pink-text center ss"><h5>APRIL</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 04 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 05 %}
            <div class="teal pink-text center ss"><h5>MAY</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 05 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 06 %}
            <div class="teal pink-text center ss"><h5>JUNE</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 06 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for month in ass %}
        {% if month.date.month == 07 %}
            <div class="teal pink-text center ss"><h5>JULY</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 07 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for month in ass %}
        {% if month.date.month == 08 %}
            <div class="teal pink-text center ss"><h5>AUGUST</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 08 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% for month in ass %}
        {% if month.date.month == 09 %}
            <div class="teal pink-text center ss"><h5>SEPTEMBER</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 09 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 10 %}
            <div class="teal pink-text center ss"><h5>OCTOBER</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 10 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 11 %}
            <div class="teal pink-text center ss"><h5>NOVEMBER</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 11 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div><div>
        {% for month in ass %}
        {% if month.date.month == 12 %}
            <div class="teal pink-text center ss"><h5>DECEMBER</h5></div>
            <div class="teal center ss"><h5>{{month.property_tax}}</h5></div>
            <div class="teal center ss"><h5>{{month.water}}</h5></div>
            <div class="teal center ss"><h5>{{month.gas}}</h5></div>
            <div class="teal center ss"><h5>{{month.electric}}</h5></div>
            <div class="teal center ss"><h5>{{month.holidays}}</h5></div>
            <div class="teal center ss"><h5>{{month.dental}}</h5></div>
            <div class="teal center ss"><h5>{{month.eyecare}}</h5></div>
            <div class="teal center ss"><h5>{{month.alternative_medicine}}</h5></div>
            <div class="teal center ss"><h5>{{month.kids_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.general_gifts}}</h5></div>
            <div class="teal center ss"><h5>{{month.school_supplies}}</h5></div>
            <div class="teal center ss"><h5>{{month.membership_fees}}</h5></div>
            <div class="teal center ss"><h5>{{month.day_trips}}</h5></div>
            <div class="teal center ss"><h5>{{month.couples_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.family_vacation}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_registration}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_test}}</h5></div>
            <div class="teal center ss"><h5>{{month.car_repairs}}</h5></div>
            <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
            <div class="teal center ss"><h5>{{month.water_filter}}</h5></div>
            <div class="teal center ss"><h5>{{month.extra_income}}</h5></div>
            <div class="teal center ss"><h5>{{month.other_school_fees}}</h5></div>
            {% for aa in additional_annual %}
                {% if aa.category == 'annual' and aa.date.month == 12 %}
                    <div class="teal center ss"><h5>{{aa.amount}}</h5></div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}