{% extends 'budget_base.html' %}
{% load static %}

{% block content %}


<div class="wrapper">
    {% for i, y in zip %}
    <div>
        <div class="center ss grey pink-text"><h6 class="m_size">{{y}}</h6></div>
        <div>
            <div>
                {% for month in ass %}
                    {% if month.date.month == i %}
                        <div class="teal center ssi"><h5><div class="pink-text">{{month.name}}</div><div class="white-text">{{month.amount}}</div></h5></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}