{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reactwise</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/budget_style.css?{% now "U" %}"/>
</head>
<body>
    {% include 'budget_navbar.html' %}
    
    {% if disapproved %}
        {% if messages %}
            {% for message in messages|slice:":1" %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="center info-message">
                        <div>{{ message }}</div>
                        <div>
                            <form method="get" action="#">
                                <button class="waves-effect waves-light btn-large" name="cat_3_moved" value="cat_3_moved">YES</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    {% block content %}
    {% endblock content %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large teal-darken-7" href="#">
          <i class="large material-icons">arrow_upward</i>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/08ab31cae7.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // sidenav
        const sideNav = document.querySelector('.sidenav');
        M.Sidenav.init(sideNav, {});

        // collapse
        const collapse = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapse, {});

        // dropdown
        const dropDown = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(dropDown, {})
        
        // modal
        $(document).ready(function(){
            $('.modal').modal();
        })

        function toggleModal(){
            var instance = M.Modal.getInstance($('#modal1'))
            instance.open()
        }

        $(function() {
            $('#ue_form').submit(function(e) {
                e.preventDefault();

                $form = $(this);

                $.post(document.location.url, $(this).serialize(), function(data) {
                   $ebReply = $('<div>').html(data).find('.ue_reply');

                   $form.append($ebReply)[0].reset();
                })

            })
        })

        $(function() {
            $('#eb_form').submit(function(e) {
                e.preventDefault();

                $form = $(this);

                $.post(document.location.url, $(this).serialize(), function(data) {
                   $ebReply = $('<div>').html(data).find('.eb_reply');

                   $form.prepend($ebReply)[0].reset();
                })

            })
        })

        $(function() {
            $('#ei_form').submit(function(e) {
                e.preventDefault();

                $form = $(this);

                $.post(document.location.url, $(this).serialize(), function(data) {
                   $ebReply = $('<div>').html(data).find('.ei_reply');

                   $form.prepend($ebReply)[0].reset();
                })

            })
        })

        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            }

        function ueApear() {
            var x = document.getElementById("ue");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function ebApear() {
            var x = document.getElementById("eb");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function eiApear() {
            var x = document.getElementById("ei");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

    </script>
</body>
</html>