{% extends 'budget_base.html' %}
{% load static %}


{% block content %}

<h1 class="header">DAILY</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="warning-message">{{ message }}</div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<div class="container"></div>
    <div class="row">
        <div class="col s12 m4">
            <div id="total_weekly">
                <h3 class="center">TOTAL WEEKLY</h3>
                <h3 class="sum center">{{weekly}}</h3>
            </div>
        </div>
        <div>
            <form method="POST">
                <div class="col s12 m4">
                    <div class="card-panel grey lighten-3">
                        <table>
                                <div>
                                    <h5 class="center">EXPENSE NAME</h5>
                                    <input class="spent_info" type="text" name="name" placeholder="Expense Name" required="" id="id_name">
                                </div>
                                <div>
                                    <h5 class="center">HOW MUCH WAS SPENT</h5>
                                    <input class="spent_info" type="number" name="spent" placeholder="0" required="" id="id_spent">
                                </div>
                        </table>
                        {% csrf_token %}
                        <div class="center">
                            <button class="btn waves-effect waves-light" type="submit" name="action">SUBMIT
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s12 m4">
            <div id="total_monthly">
                <h3 class="center">TOTAL MONTHLY</h3>
                <h3 class="sum center">{{daily_info.sum_of_daily|add:sum_of_additional_expenses}}</h3>
            </div>
        </div>
    </div>
</div>

{% autoescape off %}
{{chart}}
{% endautoescape %}

<div class="envelope_wrapper">
    <div class="mail">
        <div class="cover">
            <div class="letter">
                <div class="writing">
                    <h6>WEEKLY: {{weekly}}</h6>
                </div>
                <div class="writing">
                    <h6>GAS: {{daily_info.gas}}</h6>
                </div>
                <div class="writing">
                    <h6>TRANSPORTATION: {{daily_info.transportation}}</h6>
                </div>
                <div class="writing">
                    <h6>CLEANING HELP: {{daily_info.cleaning_help}}</h6>
                </div>
                <div class="writing">
                    {% for expense in additional_expenses %}
                        {% if expense.category == 'daily' %}
                            <h6>{{expense.name|upper}}: {{expense.amount}}</h6>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="writing">
                    <h6>WEEK 1 SUM: {{weekly|add:daily_info.gas|add:daily_info.transportation|add:daily_info.cleaning_help|add:sum_of_additional_expenses}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="cover">
            <div class="letter">
                <div class="writing">
                    <h6>WEEK 2 SUM: {{weekly}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="cover">
            <div class="letter">
                <div class="writing">
                    <h6>WEEK 3 SUM: {{weekly}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mail">
        <div class="cover">
            <div class="letter">
                <div class="writing">
                    <h6>WEEKLY: {{weekly}}</h6>
                    <h6>EXTRA DAYS: {{daily_info.extra_days}}</h6>
                    <h6>WEEK 4 SUM: {{weekly|add:daily_info.extra_days}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}