{% extends 'budget_base.html' %}
{% load static %}


{% block content %}

<h1 class="header">DAILY</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="warning-message">{{ message }}</div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<div class="total_wrapper">
    <div id="total_weekly" class="sum_div">
        <h3>TOTAL WEEKLY</h3>
        <h3 class="sum">{{weekly}}</h3>
    </div>
    <div>
        <form method="POST">
            <table>
                <tbody>
                    <tr>
                        <th>
                            <label class="spent_info" for="id_spent">Spent:</label>
                        </th>
                        <td>
                            <input class="spent_info" type="number" name="spent" value="0" required="" id="id_spent">
                        </td>
                    </tr>
                </tbody>
            </table>
            {% csrf_token %}
            <div id="spent_btn">
                <button id="daily_submit" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
    <div id="total_monthly" class="sum_div">
        <h3>TOTAL MONTHLY</h3>
        <h3 class="sum">{{daily_info.sum_of_daily}}</h3>
    </div>
</div>
{% autoescape off %}
{{chart}}
{% endautoescape %}
<div id="wrapper">
    <div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img style="height: 300px; width: 300px;" src="{% static 'new-green-envelope.jpg' %}" alt="envelope">
                    <h4 class="envelope_txt">WEEK 1</h4>
                </div>
                <div class="flip-card-back">
                    <h6>WEEKLY: {{weekly}}</h6>
                    <h6>GAS: {{daily_info.gas}}</h6>
                    <h6>TRANSPORTATION: {{daily_info.transportation}}</h6>
                    <h6>CLEANING HELP: {{daily_info.cleaning_help}}</h6>
                    <h6>WEEK 1 SUM: {{weekly|add:daily_info.gas|add:daily_info.transportation|add:daily_info.cleaning_help}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img style="height: 300px; width: 300px;" src="{% static 'new-green-envelope.jpg' %}" alt="envelope">
                    <h4 class="envelope_txt">WEEK 2</h4>
                </div>
                <div class="flip-card-back">
                    <h6>WEEKLY: {{weekly}}</h6>
                    <h6>WEEK 2 SUM: {{weekly}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img style="height: 300px; width: 300px;" src="{% static 'new-green-envelope.jpg' %}" alt="envelope">
                    <h4 class="envelope_txt">WEEK 3</h4>
                </div>
                <div class="flip-card-back">
                    <h6>WEEKLY: {{weekly}}</h6>
                    <h6>WEEK 3 SUM: {{weekly}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img style="height: 300px; width: 300px;" src="{% static 'new-green-envelope.jpg' %}" alt="envelope">
                    <h4 class="envelope_txt">WEEK 4</h4>
                </div>
                <div class="flip-card-back">
                    <h6>WEEKLY: {{weekly}}</h6>
                    <h6>EXTRA DAYS: {{daily_info.extra_days}}</h6>
                    <h6>WEEK 4 SUM: {{weekly|add:daily_info.extra_days}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="back_btn">
    <a href="{% url 'homepage' %}" type="button" class="btn btn-outline-info">BACK TO HOMEPAGE</a>
</div>

{% endblock content %}