<div class="wrapper">
    <h4 class="teal-text"><u>EXPENSE NAMES</u></h4>
    <div>
        <h3>DAILY</h3>
        <ol>
            <li>weekly</li>
            <li>extra_days</li>
            <li>transportation</li>
            <li>cleaning_help</li>
            <li>gas</li>
        </ol>
    </div>
    <div> 
        <h3>MONTHLY</h3>
        <ol>
            <li>mortgage</li>
            <li>vaad_bayit</li>
            <li>internet_tel</li>
            <li>cell_phone</li>
            <li>life_insurance </li>
            <li>health_insurance</li>
            <li>home_insurance</li>
            <li>therapy</li>
            <li>tuters</li>
            <li>children_savings</li>
            <li>bank_fees</li>
            <li>monthly_loan</li>
            <li>charity</li>
            <li>car_insurance_chova </li>
            <li>car_insurance_makif</li>
            <li>extracurricular_activity</li>
            <li>tuition</li>
            <li>kids_transportation </li>
        </ol>
    </div>
    <div>
        <h3>ANNUAL</h3>
        <ol>
            <li>property_tax</li>
            <li>water </li>
            <li>gas</li>
            <li>electric</li>
            <li>holidays</li>
            <li>dental</li>
            <li>eyecare</li>
            <li>alternative_medicine</li>
            <li>kids_gifts</li>
            <li>couples_gifts</li>
            <li>general_gifts</li>
            <li>school_supplies</li>
            <li>membership_fees</li>
            <li>day_trips</li>
            <li>couples_vacation</li>
            <li>family_vacation</li>
            <li>car_registration</li>
            <li>car_test</li>
            <li>car_repairs</li>
            <li>extracurricular_activity</li>
            <li>water_filter</li>
            <li>extra_income</li>
            <li>other_school_fees</li>
        </ol>
    </div>
</div>