{% extends 'budget_base.html' %}
{% load static %}

{% block content %}

{% if hour >= 0 and hour < 12 %}
    <h1 class="center teal-text"><div>GOOD MORNING {{user.first_name|upper}},</div><div>WELCOME BACK TO REACTWISE</div></h1>
{% elif hour >= 12 and hour < 18 %}
    <h1 class="center teal-text"><div>GOOD AFTERNOON {{user.first_name|upper}},</div><div>WELCOME BACK TO REACTWISE</div></h1>
{% elif hour >= 18 and hour or hour == 0 %}
    <h1 class="center teal-text"><div>GOOD EVENING {{user.first_name|upper}},</div><div>WELCOME BACK TO REACTWISE</div></h1>
{% endif %}

<a href="#" onclick="toggleModal();"><img src="{% static 'robot2.gif' %}" alt="waving robot"></a>
<h1 class="center teal-text">CLICK ME FOR HELP</h1>

<section class="infomodal">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <img style="width: 170px; height: 170px;" src="{% static 'robot2.gif' %}" alt="waving robot">
           
            
            <div class="center">
                <button class="btn waves-effect waves-light btn pink orange-text" onclick="ueApear()">Unexpected Expense</button>
            </div>
            <div class="center home_bot_btn ue_btn" id="ue" style="display: none;">
                <h5 class="teal-text"><u>CAT 1</u></h5>
                <div>
                    {% for expense in cat_3 %}
                        {% if expense.category == 'daily' %}
                            <h6 class="orange-text">{{expense.name|upper}}</h6>
                        {% endif %}
                    {% endfor %}
                </div>
                <h5 class="teal-text"><u>CAT 3</u></h5>
                <div>
                    {% for expense in cat_3 %}
                        {% if expense.category == 'annual' and expense.amount > 0 %}
                            <h6 class="orange-text">{{expense.name|upper}}</h6>
                        {% endif %}
                    {% endfor %}
                    <h5 class="pink-text"><div>Let's sort this out!</div><div>How much is the expense?</div></h5>
                    <div class="ue_reply">
                        {% if ue_text %}
                        <h5 class="orange-text">{{user.first_name|upper}}: {{ue_text|upper}}</h5>
                        {% endif %}
                        {% if ue_reply %}
                        <div>
                        <h5 class="teal-text">BOT: {{ue_reply}}</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <form id="ue_form" method="post">
                    <div class="center" style="display: flex; justify-content: space-around; margin-top: 20px;">                       
                        <div>
                            <input type="text" name="ue_text" maxlength="150" required id="id_text">
                        </div>   
                        <div class="center">
                            <button class="btn waves-effect waves-light btn" type="submit" name="ue_btn">
                                <i class="material-icons center">send</i>
                            </button>
                        </div>                     
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="center" style="margin-top: 15px;">
                <button class="btn waves-effect waves-light btn orange teal-text" onclick="ebApear()">Annual Expense BALANCE</button>
            </div>
            <div class="center home_bot_btn aeb_btn" id="eb" style="display: none;">
                <div>
                    {% for expense in cat_3 %}
                        {% if expense.category == 'annual' and expense.amount > 0 %}
                            <h6 class="pink-text">{{expense.name|upper}}</h6>
                        {% endif%}
                    {% endfor %}
                    <h5 class="orange-text">Which expense balance would you like to see?</h5>
                    <div class="eb_reply">
                        {% if eb_text %}
                        <h5 class="pink-text">{{user.first_name|upper}}: {{eb_text|upper}}</h5>
                        {% endif %}
                        {% if eb_reply %}
                        <div>
                        <h5 class="teal-text">BOT: {{eb_reply}}</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <form id="eb_form" method="post">
                    <div class="center" style="display: flex; justify-content: space-around; margin-top: 20px;">                       
                        <div>
                            <input type="text" name="eb_text" maxlength="150" required id="id_text">
                        </div>   
                        <div class="center">
                            <button class="btn waves-effect waves-light btn" type="submit" name="eb_btn">
                                <i class="material-icons center">send</i>
                            </button>
                        </div>                     
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="center" style="margin-top: 15px;">
                <button class="btn waves-effect waves-light btn pink orange-text" onclick="eiApear()">Annual Expense INPUT</button>
            </div>
            <div class="center home_bot_btn aes_btn" id="ei" style="display: none;">
                <div>
                    {% for expense in cat_3 %}
                        {% if expense.category == 'annual' and expense.amount > 0 %}
                            <h6 class="teal-text">{{expense.name|upper}}</h6>
                        {% endif %}
                    {% endfor %}
                    <h5 class="orange-text">Which expense would you like to update?</h5>
                    <div class="ei_reply">
                        {% if ei_text %}
                        <h5 class="pink-text">{{user.first_name|upper}}: {{ei_text|upper}}</h5>
                        {% endif %}
                        {% if ei_reply %}
                        <div>
                        <h5 class="teal-text">BOT: {{ei_reply}}</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <form id="ei_form" method="post">
                    <div class="center" style="display: flex; justify-content: space-around; margin-top: 20px;">                       
                        <div>
                            <input type="text" name="ei_text" maxlength="150" required id="id_text">
                        </div>   
                        <div class="center">
                            <button class="btn waves-effect waves-light btn" type="submit" name="ei_btn">
                                <i class="material-icons center">send</i>
                            </button>
                        </div>                     
                    </div>
                    {% csrf_token %}
                </form>
            </div>           
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect btn-flat orange-text" onClick="window.location.reload();"><h4>GOODBYE</h4></a>
        </div>
    </div>
</section>
{% endblock content %}
