{% extends 'budget_base.html' %}
{% load static %}

{% block content %}

<h1 style="text-align: center; color: teal; font-size: 60px; margin-top: 50px;">WELCOME {{user.first_name|upper}} TO REACTWISE</h1>

{% if date == 1 %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="info-message">{{ message }}</div>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <div id="homepage_form_center">
        <a class="waves-effect waves-light btn-large" href="{% url 'forms' %}">FORMS</a>
    </div>
{% endif %}

<a href="#" onclick="toggleModal();"><img src="{% static 'robot2.gif' %}" alt="waving robot"></a>
<h1 style="text-align: center;">CLICK ME FOR HELP</h1>


<section class="infomodal">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <img style="width: 170px; height: 170px;" src="{% static 'robot2.gif' %}" alt="waving robot">
            <h4 id="info-modal-heading" class="center teal-text">How can I help?</h4>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect btn-flat">Goodbye</a>
        </div>
    </div>
</section>

{% endblock content %}