{% extends 'budget_base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper" style="display: flex;">
        <div>
            <div class="center ss"><h5></h5></div>
            <div class="grey white-text center ss"><h5>MORTGAGE</h5></div>
            <div class="grey white-text center ss"><h5>VAAD BAYIT</h5></div>
            <div class="grey white-text center ss"><h5>INTERNET TEL</h5></div>
            <div class="grey white-text center ss"><h5>CELL PHONE</h5></div>
            <div class="grey white-text center ss"><h5>LIFE INSURANCE</h5></div>
            <div class="grey white-text center ss"><h5>HEALTH INSURANCE</h5></div>
            <div class="grey white-text center ss"><h5>HOME INSURANCE</h5></div>
            <div class="grey white-text center ss"><h5>THERAPY</h5></div>
            <div class="grey white-text center ss"><h5>TUTORS</h5></div>
            <div class="grey white-text center ss"><h5>CHILDREN SAVINGS</h5></div>
            <div class="grey white-text center ss"><h5>BANK FEES</h5></div>
            <div class="grey white-text center ss"><h5>MONTHLY LOAN</h5></div>
            <div class="grey white-text center ss"><h5>CHARITY</h5></div>
            <div class="grey white-text center ss"><h5>CAR CHOVA</h5></div>
            <div class="grey white-text center ss"><h5>CAR MAKIF</h5></div>
            <div class="grey white-text center ss"><h5>EXTRA CURRICULAR</h5></div>
            <div class="grey white-text center ss"><h5>TUITION</h5></div>
            <div class="grey white-text center ss"><h5>KIDS TRANSPORT</h5></div>
            {% for am in additional_monthly %}
                {% if am.category == 'monthly' %}
                    <div class="grey white-text center ss"><h5>{{am.name|upper}}</h5></div>
                {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 01 %}
                <div class="teal pink-text center ss"><h5>JANUARY</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 01 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 02 %}
                <div class="teal pink-text center ss"><h5>FEBUARY</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 02 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 03 %}
                <div class="teal pink-text center ss"><h5>MARCH</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 03 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 04 %}
                <div class="teal pink-text center ss"><h5>APRIL</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 04 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 05 %}
                <div class="teal pink-text center ss"><h5>MAY</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 05 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 06 %}
                <div class="teal pink-text center ss"><h5>JUNE</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 06 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 07 %}
                <div class="teal pink-text center ss"><h5>JULY</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 07 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 08 %}
                <div class="teal pink-text center ss"><h5>AUGUST</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 08 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 09 %}
                <div class="teal pink-text center ss"><h5>SEPTEMBER</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>  
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 09 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}         
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 10 %}
                <div class="teal pink-text center ss"><h5>OCTOBER</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 10 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}           
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 11 %}
                <div class="teal pink-text center ss"><h5>NOVEMBER</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div>  
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 11 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}         
            {% endif %}
            {% endfor %}
        </div>
        <div>
            {% for month in mss %}
            {% if month.date.month == 12 %}
                <div class="teal pink-text center ss"><h5>DECEMBER</h5></div>
                <div class="teal center ss"><h5>{{month.mortgage}}</h5></div>
                <div class="teal center ss"><h5>{{month.vaad_bayit}}</h5></div>
                <div class="teal center ss"><h5>{{month.internet_tel}}</h5></div>
                <div class="teal center ss"><h5>{{month.cell_phone}}</h5></div>
                <div class="teal center ss"><h5>{{month.life_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.health_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.home_insurance}}</h5></div>
                <div class="teal center ss"><h5>{{month.therapy}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuters}}</h5></div>
                <div class="teal center ss"><h5>{{month.children_savings}}</h5></div>
                <div class="teal center ss"><h5>{{month.bank_fees}}</h5></div>
                <div class="teal center ss"><h5>{{month.monthly_loan}}</h5></div>
                <div class="teal center ss"><h5>{{month.charity}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_chova}}</h5></div>
                <div class="teal center ss"><h5>{{month.car_insurance_makif}}</h5></div>
                <div class="teal center ss"><h5>{{month.extracurricular_activity}}</h5></div>
                <div class="teal center ss"><h5>{{month.tuition}}</h5></div>
                <div class="teal center ss"><h5>{{month.kids_transportation}}</h5></div> 
                {% for am in additional_monthly %}
                    {% if am.category == 'monthly' and am.date.month == 12 %}
                        <div class="teal center ss"><h5>{{am.amount}}</h5></div>
                    {% endif %}
                {% endfor %}          
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}